<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{102,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,79}}</string>
                <key>sourceSize</key>
                <string>{102,79}</string>
            </dict>
            <key>btn-weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,752},{210,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,80}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>btn_chengse.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,241},{235,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,91}}</string>
                <key>sourceSize</key>
                <string>{235,91}</string>
            </dict>
            <key>btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{235,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,91}}</string>
                <key>sourceSize</key>
                <string>{235,91}</string>
            </dict>
            <key>btn_kefu.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,845},{101,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,27}}</string>
                <key>sourceSize</key>
                <string>{101,27}</string>
            </dict>
            <key>btn_tixianshuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,360},{101,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,27}}</string>
                <key>sourceSize</key>
                <string>{101,27}</string>
            </dict>
            <key>btn_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,752},{210,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,80}}</string>
                <key>sourceSize</key>
                <string>{210,80}</string>
            </dict>
            <key>di-baise-red.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,404},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>di_baise.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,836},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,418},{66,68}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,39},{66,68}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fhd-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,490},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fhd-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,401},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fhd-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,40}}</string>
                <key>sourceSize</key>
                <string>{640,40}</string>
            </dict>
            <key>fhd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,490},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fhd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,401},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>fhd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,40}}</string>
                <key>sourceSize</key>
                <string>{640,40}</string>
            </dict>
            <key>gj-jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,836},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,24}}</string>
                <key>sourceSize</key>
                <string>{52,24}</string>
            </dict>
            <key>gj-jindudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,579},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>guajianghou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,723},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>guajianghou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{341,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,110}}</string>
                <key>sourceSize</key>
                <string>{341,110}</string>
            </dict>
            <key>guajiangqian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,642},{118,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,110}}</string>
                <key>sourceSize</key>
                <string>{118,110}</string>
            </dict>
            <key>guajiangqian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,46},{341,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,110}}</string>
                <key>sourceSize</key>
                <string>{341,110}</string>
            </dict>
            <key>guanbi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,391},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>icon-hongbaoxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{37,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,49}}</string>
                <key>sourceSize</key>
                <string>{37,49}</string>
            </dict>
            <key>icon-hongzuan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,815},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,59}}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
            <key>icon-lianjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,578},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>icon-pengyouquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,795},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>icon-weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,796},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>img-tixian-weixuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,702},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>img-tixian-xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,668},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>img-tixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,438},{200,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>img_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,391},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>img_tixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,438},{200,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,90}}</string>
                <key>sourceSize</key>
                <string>{200,90}</string>
            </dict>
            <key>lunbodian-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,878},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>lunbodian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,696},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>no01.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,578},{118,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,95}}</string>
                <key>sourceSize</key>
                <string>{118,95}</string>
            </dict>
            <key>no02.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,574},{118,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,95}}</string>
                <key>sourceSize</key>
                <string>{118,95}</string>
            </dict>
            <key>no03.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,475},{118,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,95}}</string>
                <key>sourceSize</key>
                <string>{118,95}</string>
            </dict>
            <key>qipao-tixian.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,836},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>ttl_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{335,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,192}}</string>
                <key>sourceSize</key>
                <string>{335,192}</string>
            </dict>
            <key>ttl_pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,438},{310,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,108}}</string>
                <key>sourceSize</key>
                <string>{310,108}</string>
            </dict>
            <key>ttl_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{335,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,192}}</string>
                <key>sourceSize</key>
                <string>{335,192}</string>
            </dict>
            <key>ttl_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,438},{310,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,108}}</string>
                <key>sourceSize</key>
                <string>{310,108}</string>
            </dict>
            <key>ttl_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,46},{310,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,108}}</string>
                <key>sourceSize</key>
                <string>{310,108}</string>
            </dict>
            <key>tu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,756},{138,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{138,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,579},{140,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{140,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,429},{146,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,17},{146,128}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>tu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,696},{84,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,115}}</string>
                <key>sourceSize</key>
                <string>{84,115}</string>
            </dict>
            <key>tu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,480},{94,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,115}}</string>
                <key>sourceSize</key>
                <string>{94,115}</string>
            </dict>
            <key>tu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,677},{86,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,115}}</string>
                <key>sourceSize</key>
                <string>{86,115}</string>
            </dict>
            <key>tu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,677},{114,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,82}}</string>
                <key>sourceSize</key>
                <string>{114,82}</string>
            </dict>
            <key>tu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>yeqian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,263},{151,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,62}}</string>
                <key>sourceSize</key>
                <string>{151,62}</string>
            </dict>
            <key>yeqian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,108},{151,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,62}}</string>
                <key>sourceSize</key>
                <string>{151,62}</string>
            </dict>
            <key>zjmd-biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,46},{351,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,69}}</string>
                <key>sourceSize</key>
                <string>{351,69}</string>
            </dict>
            <key>农舍排行榜.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,46},{354,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,68}}</string>
                <key>sourceSize</key>
                <string>{354,68}</string>
            </dict>
            <key>点击关闭.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,391},{121,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,34}}</string>
                <key>sourceSize</key>
                <string>{121,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{888,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ba86d2f4ebd5591ea10d7d82e13e11b:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
