<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1187},{110,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,111}}</string>
                <key>sourceSize</key>
                <string>{110,111}</string>
            </dict>
            <key>anniu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,827},{356,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,111}}</string>
                <key>sourceSize</key>
                <string>{356,111}</string>
            </dict>
            <key>anniu_fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{425,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,83}}</string>
                <key>sourceSize</key>
                <string>{425,83}</string>
            </dict>
            <key>anniu_zhongjxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1097},{164,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,44}}</string>
                <key>sourceSize</key>
                <string>{164,44}</string>
            </dict>
            <key>daoju-jindan.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1070},{166,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,217}}</string>
                <key>sourceSize</key>
                <string>{166,217}</string>
            </dict>
            <key>daoju-jindanzasui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1042},{166,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,176}}</string>
                <key>sourceSize</key>
                <string>{166,176}</string>
            </dict>
            <key>di_hong_zhongjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,740},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>di_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1265},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>di_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,431},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>djs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,431},{313,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,34}}</string>
                <key>sourceSize</key>
                <string>{313,34}</string>
            </dict>
            <key>fb_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{524,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,224}}</string>
                <key>sourceSize</key>
                <string>{524,224}</string>
            </dict>
            <key>fb_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1097},{524,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,224}}</string>
                <key>sourceSize</key>
                <string>{524,224}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1042},{74,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,125}}</string>
                <key>sourceSize</key>
                <string>{74,125}</string>
            </dict>
            <key>guzetupian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{601,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,266}}</string>
                <key>sourceSize</key>
                <string>{601,266}</string>
            </dict>
            <key>hongbao-yaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,530},{302,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,271}}</string>
                <key>sourceSize</key>
                <string>{302,271}</string>
            </dict>
            <key>hongzuan-fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,2},{2,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,50}}</string>
                <key>sourceSize</key>
                <string>{2,50}</string>
            </dict>
            <key>hongzuan-xuxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1337},{664,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{664,1}}</string>
                <key>sourceSize</key>
                <string>{664,1}</string>
            </dict>
            <key>hongzuanmingxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{690,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{690,103}}</string>
                <key>sourceSize</key>
                <string>{690,103}</string>
            </dict>
            <key>jaingchi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,805},{343,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,121}}</string>
                <key>sourceSize</key>
                <string>{343,121}</string>
            </dict>
            <key>kaijiangchaxun.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1291},{139,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,33}}</string>
                <key>sourceSize</key>
                <string>{139,33}</string>
            </dict>
            <key>tanchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{703,821}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{703,821}}</string>
                <key>sourceSize</key>
                <string>{703,821}</string>
            </dict>
            <key>title_get.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,712},{591,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,156}}</string>
                <key>sourceSize</key>
                <string>{591,156}</string>
            </dict>
            <key>title_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,712},{354,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,68}}</string>
                <key>sourceSize</key>
                <string>{354,68}</string>
            </dict>
            <key>ttl_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,930},{324,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,108}}</string>
                <key>sourceSize</key>
                <string>{324,108}</string>
            </dict>
            <key>xuxian_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1325},{626,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,2}}</string>
                <key>sourceSize</key>
                <string>{626,2}</string>
            </dict>
            <key>xuxian_zhongjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1331},{627,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,2}}</string>
                <key>sourceSize</key>
                <string>{627,2}</string>
            </dict>
            <key>zhongjiang_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,696},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>zhongjiangguize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,748},{149,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,34}}</string>
                <key>sourceSize</key>
                <string>{149,34}</string>
            </dict>
            <key>zi_hongzuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1171},{99,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,48}}</string>
                <key>sourceSize</key>
                <string>{99,48}</string>
            </dict>
            <key>积分兑换.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1222},{132,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,77}}</string>
                <key>sourceSize</key>
                <string>{132,77}</string>
            </dict>
            <key>自然饱和度2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{706,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{706,178}}</string>
                <key>sourceSize</key>
                <string>{706,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUI2.png</string>
            <key>size</key>
            <string>{1340,1340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02837a0ad3ad5352da75579848fb2c81:1/1$</string>
            <key>textureFileName</key>
            <string>gameUI2.png</string>
        </dict>
    </dict>
</plist>
