<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,40}}</string>
                <key>sourceSize</key>
                <string>{55,40}</string>
            </dict>
            <key>boluo.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,56},{33,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,52}}</string>
                <key>sourceSize</key>
                <string>{33,52}</string>
            </dict>
            <key>caomei.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,240},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>chengzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,125},{35,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,54}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>hamigua.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>huolongguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{51,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,48}}</string>
                <key>sourceSize</key>
                <string>{51,48}</string>
            </dict>
            <key>lanmei.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,198},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>liulian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,58}</string>
            </dict>
            <key>lizhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,39}</string>
            </dict>
            <key>longyan.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>mangguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,61},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>mihoutao.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,95},{49,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,36}}</string>
                <key>sourceSize</key>
                <string>{49,36}</string>
            </dict>
            <key>mugua.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>ningmeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,197},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>niuyouguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,54},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>pingguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,233},{41,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>pipa.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,154},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>putao.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,103},{45,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,48}}</string>
                <key>sourceSize</key>
                <string>{45,48}</string>
            </dict>
            <key>shanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,198},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>shengnvguo.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,105},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>shiliu.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,155},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>shizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,236},{38,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,37}}</string>
                <key>sourceSize</key>
                <string>{38,37}</string>
            </dict>
            <key>shumei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{36,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,25}}</string>
                <key>sourceSize</key>
                <string>{36,25}</string>
            </dict>
            <key>taozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,239},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>xiangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,187},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>xiguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,54},{43,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{43,50}</string>
            </dict>
            <key>xueli.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,137},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
            <key>yangtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,186},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>yingtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,155},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>youzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{43,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,53}}</string>
                <key>sourceSize</key>
                <string>{43,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smallFruit.png</string>
            <key>size</key>
            <string>{275,275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:792ef350ada274343c7b1a945ab257c7:df6a20b9fc1b70a76b69c88aa13ce578:536e2c2bbebd2527d7790770aa00d78c$</string>
            <key>textureFileName</key>
            <string>smallFruit.png</string>
        </dict>
    </dict>
</plist>
