<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baicai.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,204},{66,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,86}}</string>
                <key>sourceSize</key>
                <string>{66,86}</string>
            </dict>
            <key>baocai.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,104},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,90}</string>
            </dict>
            <key>bocai.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,350},{81,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,92}}</string>
                <key>sourceSize</key>
                <string>{81,92}</string>
            </dict>
            <key>caijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,169},{88,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,104}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>cong.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,110},{53,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,107}}</string>
                <key>sourceSize</key>
                <string>{53,107}</string>
            </dict>
            <key>dasuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,110},{48,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,92}}</string>
                <key>sourceSize</key>
                <string>{48,92}</string>
            </dict>
            <key>dongsui.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,201},{44,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,84}}</string>
                <key>sourceSize</key>
                <string>{44,84}</string>
            </dict>
            <key>doumiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,448},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>hongcaitai.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,101},{53,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,93}}</string>
                <key>sourceSize</key>
                <string>{53,93}</string>
            </dict>
            <key>honglajiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,263},{87,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,104}}</string>
                <key>sourceSize</key>
                <string>{87,104}</string>
            </dict>
            <key>huacai.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,263},{98,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,83}}</string>
                <key>sourceSize</key>
                <string>{98,83}</string>
            </dict>
            <key>huanggua.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{126,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,102}}</string>
                <key>sourceSize</key>
                <string>{126,102}</string>
            </dict>
            <key>huluobo.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{48,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,102}}</string>
                <key>sourceSize</key>
                <string>{48,102}</string>
            </dict>
            <key>jiucai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{65,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,123}}</string>
                <key>sourceSize</key>
                <string>{65,123}</string>
            </dict>
            <key>luobo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{81,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,106}}</string>
                <key>sourceSize</key>
                <string>{81,106}</string>
            </dict>
            <key>lusui.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,483},{57,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,102}}</string>
                <key>sourceSize</key>
                <string>{57,102}</string>
            </dict>
            <key>maodou.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,373},{87,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,104}}</string>
                <key>sourceSize</key>
                <string>{87,104}</string>
            </dict>
            <key>miao1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,492},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,45}</string>
            </dict>
            <key>miao1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,431},{60,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,72}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>miao2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,169},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{22,26}</string>
            </dict>
            <key>miao2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,497},{23,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,59}}</string>
                <key>sourceSize</key>
                <string>{23,59}</string>
            </dict>
            <key>miao3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{37,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,29}}</string>
                <key>sourceSize</key>
                <string>{37,29}</string>
            </dict>
            <key>miao3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,489},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>miao4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,288},{62,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,41}}</string>
                <key>sourceSize</key>
                <string>{62,41}</string>
            </dict>
            <key>miao4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,425},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,55}}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
            <key>miao5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,503},{37,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,25}}</string>
                <key>sourceSize</key>
                <string>{37,25}</string>
            </dict>
            <key>miao5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,356},{55,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,38}}</string>
                <key>sourceSize</key>
                <string>{55,38}</string>
            </dict>
            <key>miao6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,245},{34,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,20}}</string>
                <key>sourceSize</key>
                <string>{34,20}</string>
            </dict>
            <key>miao6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,208},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>miao7_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,246},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>miao7_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,204},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>miao8_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,201},{26,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,44}}</string>
                <key>sourceSize</key>
                <string>{26,44}</string>
            </dict>
            <key>miao8_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,425},{42,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,61}}</string>
                <key>sourceSize</key>
                <string>{42,61}</string>
            </dict>
            <key>mugu.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,276},{79,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,63}}</string>
                <key>sourceSize</key>
                <string>{79,63}</string>
            </dict>
            <key>nangua.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,276},{84,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,63}}</string>
                <key>sourceSize</key>
                <string>{84,63}</string>
            </dict>
            <key>qiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{121,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,93}}</string>
                <key>sourceSize</key>
                <string>{121,93}</string>
            </dict>
            <key>qincai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{82,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,111}}</string>
                <key>sourceSize</key>
                <string>{82,111}</string>
            </dict>
            <key>qingcai.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,345},{61,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,74}}</string>
                <key>sourceSize</key>
                <string>{61,74}</string>
            </dict>
            <key>shuiluobo.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,208},{46,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,74}}</string>
                <key>sourceSize</key>
                <string>{46,74}</string>
            </dict>
            <key>tudou.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,471},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>xianggu.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,345},{80,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,67}}</string>
                <key>sourceSize</key>
                <string>{80,67}</string>
            </dict>
            <key>xihongshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{126,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,96}}</string>
                <key>sourceSize</key>
                <string>{126,96}</string>
            </dict>
            <key>xilanhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,367},{98,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,84}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>yangcong.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,251},{58,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,93}}</string>
                <key>sourceSize</key>
                <string>{58,93}</string>
            </dict>
            <key>yumi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,137}}</string>
                <key>sourceSize</key>
                <string>{92,137}</string>
            </dict>
            <key>ziganlan.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,104},{95,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,91}}</string>
                <key>sourceSize</key>
                <string>{95,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vegetables.png</string>
            <key>size</key>
            <string>{542,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76a7503915d58466fec182e2c055d4c5:2635e0a2af0156cc0f0300b9cee6b5d2:435a819c55ffbf7604e921804076b667$</string>
            <key>textureFileName</key>
            <string>vegetables.png</string>
        </dict>
    </dict>
</plist>
